@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";
@import "tw-animate-css";

@plugin "tailwindcss-animate";

:root {
    background: var(--catppuccin-color-base);
}

html,
body {
    font-family: "Instrument Sans", ui-sans-serif, system-ui, sans-serif;
}