---
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/AboutSection.astro";
---

<Layout>
    <!--TODO: 404 not found page-->
    <main style="position:relative; z-index:0;">
        <div class="px-6 sm:px-12 md:px-24 lg:px-36">
            <div class="flex justify-center">
                <div class="w-full max-w-3xl">
                    <AboutSection />
                </div>
            </div>
        </div>
    </main>
</Layout>
