---
import {Icon} from "astro-icon/components";
import GithubCommit from "../components/GithubCommit.astro"

const currentYear = new Date().getFullYear();
const viewCount = "12,345";
---
<footer class="w-full px-6 sm:px-12 md:px-24 lg:px-36">
    <hr class="max-w-3xl text-ctp-subtext0 mx-auto">
    <div class="max-w-3xl mx-auto py-4 flex flex-row gap-3 sm:items-center justify-between text-sm">
        <div>
            <span>© {currentYear} Aaron Ye</span>
        </div>
        <div class="flex items-center gap-6">
            <GithubCommit/>
            <div class="flex items-center gap-2">
                <Icon name="tabler--eye" class="w-4 h-4 mt-0.5 text-ctp-subtext0" aria-hidden="true"/>
                <span>{viewCount}</span>
            </div>
        </div>
    </div>
</footer>
